*{
  margin:0;
  padding:0;
}
html{
  font-size:medium;
}
html,body{
  background-color:Silver;
}
.cb{
  clear:both;
}
.fr{
  float:right;
}
.fl{
  float:left;
}
.bn{
  border:none;
}#main{
  margin: 0 auto;
  width:900px;
  background-color:White;
}
.bannerIEPadder, .sidebarIEPadder, .contentIEPadder{
  padding:10px;
}
.navIEPadder, .footerIEPadder{
  padding:5px;
}
#banner{
  width:900px;
  height:75px;
  background-color:DarkOrange;
  color:White;
  font-size:36px;
  font-weight:bold;
  position:relative;
}
div.cart_box{
  position:absolute;
  top:10px;
  right:10px;
  font-size:medium;
}
div.cart_box a{
  color:white;
}
#sidebar{
  width:200px;
  float:left;;
}
#content{
  width:700px;
  float:left;
}
#footer{
  clear:both;
  background-color:#98AC5E;
  color:White;
  text-align:center;
}
a.skip_link{
  position:absolute;
  left:-1000px;
  top:-1000px;
}
a{
  color:#98AC5E;
  font-weight:bold;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
/* category page styles */
div.product_thumbnail{
  text-align:center;
  float:left;
  width:150px;
  height:200px;
}
/* product page styles */
div.product_image{
  float:left;
  padding:0 10px 10px 0;
}
